.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;


}

.navBar-container {
    /* border: 2px solid pink; */
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}